<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course create</title>
</head>
<body>
    <%if(success&&success.length){%>
        <div id="success-flash">
            <p id="success-flash-message"> <%=success%></p>
        </div>
        <%}%>

    <h1>Delete Course</h1>

    <form action="/deleteCourse" method="post">
        <label for="courses">Choose a course:</label>
        <select name="course" id="courses">
          <% for(let course of courses){ %>
            <option value=<%=course.name%>><%=course.name%></option>
            <% } %>
        </select>
        <br><br>
        <button>Delete</button>
      </form>
</body>
</html>

