<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SASTRA Registration</title>
</head>
<body>
    <%if(success&&success.length){%>
        <div id="success-flash">
            <p id="success-flash-message"> <%=success%></p>
        </div>
        <%}%>
    <h1>SASTRA REGISTRATION</h1>
    <h2>Who are you?</h2>
    <a href="/auth"><button>Student</button></a>
    <a href="adminAuth"><button>Administrator</button></a>
</body>
</html>

