<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Student</title>
</head>
<body>
    <%if(success&&success.length){%>
        <div id="success-flash">
            <p id="success-flash-message"> <%=success%></p>
        </div>
        <%}%>

    <h1>Remove Student</h1>

    <form action="/removeStudent" method="post">
        <label for="students">Choose a student:</label>
        <select name="student" id="students">
          <% for(let student of students){ %>
            <option value=<%=student.name%>><%=student.name%></option>
            <% } %>
        </select>
        <br><br>
        <button>Remove</button>
      </form>
</body>
</html>

